* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/undersea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.logo{
    font-size: 25px;
    cursor: pointer;
    font-family: sans-serif;
    color: #fff;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    padding: 10px 30px;
    border-radius: 25px;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
    transition: 0.5s;
}
.menu:hover{
    transform: rotate(180deg);
}
.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
.social-links img:nth-child(1):hover{
    background-color: #005fb8;
    border-radius: 25px;
}
.social-links img:nth-child(2):hover{
    background-color: #CD2C87;
    border-radius: 25px;
}
.social-links img:nth-child(3):hover{
    background-color: #00C1B0;
    border-radius: 25px;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.useful-links img:nth-child(1):hover{
    background-color: #065363;
    border-radius: 25px;
}
.useful-links img:nth-child(2):hover{
    background-color: #b80000;
    border-radius: 25px;
}
.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;
    opacity: 0;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* opacity: 0; */
    bottom: 0;
}
@keyframes bubbles {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
.fish img{
    width: 50px;
    animation: fishs 15s linear infinite;
    opacity: 0;
    display: flex;
}
.fish{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 10%;
}
@keyframes fishs {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    98%{
        opacity: 1;
    }
    100%{
        transform: translateX(80vw);
        opacity: 0;
    }

}
.fish img:nth-child(1){
    animation-delay: 2s;
    width: 45px;
}
.fish img:nth-child(2){
    animation-delay: 1s;
    width: 65px;
}
.fish img:nth-child(3){
    animation-delay: 3s;
    width: 100px;
}
.fish img:nth-child(4){
    animation-delay: 4.5s;
    width: 150px;
}
.fish img:nth-child(5){
    animation-delay: 3s;
}
.fish img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.fish img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
.fish img:nth-child(8){
    animation-delay: 10s;
    width: 50px;
}
.fish img:nth-child(9){
    animation-delay: 13s;
    width: 70px;
}
.fish img:nth-child(10){
    animation-delay: 3s;
    width: 90px;
}
.fish img:nth-child(11){
    animation-delay: 9s;
    width: 99px;
}
.fish img:nth-child(12){
    animation-delay: 7s;
    width: 35px;
}